<!-- About Page -->
<script>
    var style = document.createElement('style');
    style.innerHTML = `
        body {
            background-size: cover;
            background-image: url('https://www.umd.edu/sites/umd.edu/files/13606.jpg');
        }`;
    document.head.appendChild(style);
</script>

<div id="jumbotron">
    <div class="jumbotron">
        <h1 id="header">A little about me</h1>
        <p>
            My name is Brandon Kwintner. I am a student at the University of 
            Maryland with a passion for two things:
        </p>
        <p>
            1. Software Engineering
        </p>
        <p>
            2. Powerlifting 
        </p>
        <p>
            This website let's me have the best of both worlds; share my love 
            for powerlifting and show off my coding abilities.
        </p>
        <p>
            This website is a place for you to input all of your personal records,
            keep track of your lifts during your workouts. The layout is super 
            simple and user friendly. The only thing on the screen is the 
            information you care about displayed in a simple clean manner, further
            enhancing the user experience. Choose to see the strongest powerlifters
            in your database by filtering them based on their best squat, bench,
            deadlift, or total. View workouts to see progression of their lifts 
            over time, and the RPE's of those lifts.
        </p>
    </div>
</div>