<!-- Chat room -->
<div id="jumbotron">
    <div class="jumbotron">
        <h1 id="chat_header">Chat Room</h1>
        <hr/>
        <ul id="messages"></ul>
        <form id="box" action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>
</div>